@font-face{
  font-family: 'providence-bold';
  src: url(/website/web-icons/fonts/Sketch.ttf);
}

*{
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
  
}


html,body{
  margin: 0%;
  padding: 0;
}

.nav ul{
  margin: 0;
}

.nav li{
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 2em;
  color: #f2e5bc;
  text-decoration: none;
}

.main-nav li{
  padding: 0 5%;
  text-size-adjust: 40px;
}

img {
  display: block;
  border-radius: 8px;
  margin-left: 60%;
  width: 30%;
}

.main-nav{
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  text-decoration: none;
  border-bottom: rgba(255, 255, 255, .3);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav a:hover{
  background-color: rgba(255, 255, 255, .3) ;
}

.main_header{
  background-color: rgba(0, 0, 0, .6) ;
  background-image: url("web-icons/header-main.jpg ");
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
}

.greeter{
  text-align: center;
  margin: 0;
  font-size: 6em;
  color: #f6f2ef;
}

body {
    background-color:  #33334d;
  }
  
h1 {
  text-align: center;
  font-size-adjust: 90px;
  color: #F8B195 ;
}
h1 big{
  color: #F8B195 ;
}

h1 small{
  color: #F8B195 ;
}


  h2{
      color: #b57614;
      margin-left: 150px;
  }
  h3{
      color: #f2e5bc;
  }
  h4{
      color: #f2e5bc;
  }
  p{
    color: #f2e5bc;
  }

  a {
        font-size-adjust: 70px;
      color: #f2e5bc;
  }

  .intro_text{
    text-align: left;
  }

  .btn-group button {
    background-color: #3c3836; /* gray button */
   /* border: 2px solid #ebdbb2; /* white */
    color: white; /* White text */
    padding: 15px 82px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    align-items: stretch;
  }

  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #747774;
  }
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: #17141d;
    color: white;
    font-family: 'DM Mono', monospace;
}

.card-list {
 display: flex;
 padding: 3rem;
 overflow-x: scroll;
}

.card-list::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

.card-list::-webkit-scrollbar-thumb{
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%, .25), inset -2px -2px 2px rgba(0,0,0,.25); ;
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;

    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;

    transition: .2s;
}

.card:hover{
    transform: translateY(-1rem);
}

.card:hover~.card{
    transform: translateY(130px);
}

.card:not(:first-child){
    margin-left: -130px;
}

.card-header h2:hover{
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}